<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_comment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
     <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
 
  {% load static %}
     <link rel="stylesheet" href="{% static 'css/addreply.css' %}">
     <link rel="stylesheet" href="{% static 'css/showreply.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <style>
      #author{
             background-color: rgb(10, 10, 157);
             color: white;
             border-radius: 15px;
             font-size: 10px;
             padding: 4px;
      }
     </style>
    </head>
<body>
   
    <div class=" container">
        <div class="comment_container">
          <h1> Comment's</h1>
        </div>
        
      <!--  start here show all comment  -->
   
      <div class="show_comment_container">
        <div class="col-12 d-flex">
          <div class="col-4">
          <div class="in_top_user_information">
            
          <!--start  here user img -->
              
              <div class="user_img">
               {% if parent.commented_by.user_image%}   
                   <img src="{{parent.commented_by.user_image.url}}" alt=""> 
               {% else %}
                   <img src="{% static 'Images/images.jpg'%}" id="dp"  alt="" class="dp">
                {%endif%}
              </div>
  
          <!-- end user img -->
  
          <!-- start user name  and time to update-->
  
          <div class="user_name_and_time"> 
            <!-- user name -->
             <div class="user_name_bycomment">
                <h3> <a href="{}">{{parent.commented_by.name}}</a>
                {% if post.user_profile == parent.commented_by %}
                         <span id="author"> Author</span>
                {%endif%}
              </h3>
             </div>
             <div class="user_time_bycomment">
                  <h3>
                    <span>{{parent.created_at.time }}</span>  
                    <span>{{parent.created_at.month }}</span>  
                    <span>{{parent.created_at.date }} </span>    
                  </h3>
             </div>
           </div>
           </div>
           </div>
           <div class="col-8  delete_edit_container">

            
               {% if user == comment.commented_by or user == comment.by_Reply %}             
                   <div id="edit"><a href="{% url 'edit_comment' comment.id %}"> <i class="fa-regular fa-pen-to-square"></i>edit</a></div>
               {%endif%}
                 {% if user == comment.commented_by or user == comment.by_Reply or user == comment.post.user_profile %}
                 
                     <div id="delete"> <a href="{% url 'comment_delete' comment.id post.id %}"> <i class="fa-solid fa-trash"></i> delete</a></div>
                   
                 {%endif%}
             
             </div>
           
         <!-- end user name and time to update -->
        </div>
        <div class="comment_area"> 
          <p>{{parent.text_comment}}</p>
 
       </div>
        </div> 
       
       
        </div>

        <div class="container">

       {% for comment in comments %}  
            {% if comment.by_Reply %}
                     <div class="show_comment_container">
                        <div class="in_top_user_information">
                        <!--start  here user img -->
                
                            <div class="user_img">
                            {% if comment.by_Reply.user_image%}   
                                <img src="{{comment.by_Reply.user_image.url}}" alt=""> 
                            {% else %}
                                <img src="{% static 'Images/images.jpg'%}" id="dp"  alt="" class="dp">
                            {%endif%}
                            </div>
                
                        <!-- end user img -->
                
                        <!-- start user name  and time to update-->
                
                        <div class="user_name_and_time"> 
                        <!-- user name -->
                        <div class="user_name_bycomment">
                            <h3> <a href="{}">{{comment.by_Reply.name}}</a></h3>
                        </div>
                        <div class="user_time_bycomment">
                                <h3>
                                <span>{{comment.created_at.time }}</span>  
                                <span>{{comment.created_at.month }}</span>  
                                <span>{{comment.created_at.date }} </span>
                                    
                                {% if comment.updated_at%} 
                                      
                                {%endif%}
                                </h3>
                        </div>
                        </div>
                    <!-- end user name and time to update -->
                    </div> 
                    <div class="comment_area"> 
                        <p>{{comment.text_comment}}</p>
                
                    </div>
                    
            {%else%}
              <div id="reply_else_area">
                <h2 > no replies</h2>
              </div>

            {%endif%}
                  
        </div>
  
{%endfor%} 
      </div>
    </div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>