body {
  font-family: 'Poppins';
  font-size: 16px;
  
}

.nav{
  position: relative;
}
#nav_color{
background-color: #e3f2fd;
}

.nav-link{
  text-transform: capitalize;
}
.carousel-img {
height: 350px;
object-fit: cover;

}
#Category{
font-size: 50px;
font-weight: bolder;
}

   
  

.dp{
  height:40px;
  width:40px ;
  
  border-radius: 50%;

  
}
.Write_Blog.a{
  color:green;
  font-size: 40px;
  text-decoration: none;
}
.imgs{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}